.profileBody {
  height: 100%;
}



.newAppointment {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

}

.appointment-Card{
  background-color: rgb(201, 229, 250);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3),
  0 15px 15px rgba(255, 255, 255, 0.2),
 0 0 0 10px rgba(255, 255, 255, 0.1); 
 height: 50vh;
 border-radius: 1em;
}
@media (max-width: 576px) {
  .appointment-Card {
    height: 70vh;
  }
}
@media (max-width: 576px) {
  .mobile-margin-top {
    margin-top: 20px;
  }
}

.profile-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(201, 229, 250);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3),
  0 15px 15px rgba(255, 255, 255, 0.2),
 0 0 0 10px rgba(255, 255, 255, 0.1); 
  border-radius: 1em;
}

.profile-card-title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.profile-card-title{
  font-size: 2rem;
}

.list-group-item{
  background-color: rgb(201, 229, 250);
}

#custom-card-profile {
  background-color: rgb(201, 229, 250);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3),
  0 15px 15px rgba(255, 255, 255, 0.2),
 0 0 0 10px rgba(255, 255, 255, 0.1); 
  border-radius: 1em;

}

#appointment-box {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
}