body {
  margin: 0;
  padding: 0;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Bree Serif", serif;
}


.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
  color: rgb(125, 156, 154);
}
